<form [formGroup]="form.transaction" (ngSubmit)="onSubmit()" id="btc-withdrawal-form" novalidate>
  <div class=" content transaction-content">
    <div class="transaction-wrapper">
      <ons-list-item expandable>
        <div class="card-wrapper">
          <ons-row align="center">
            <ons-col width="30%" class="col" align="left">
              <img class="gateway-logo" src="../assets/images/gateway-bitcoin-logo.svg">
            </ons-col>
            <ons-col class="col right" align="top">
              <div class="col-profile">
                <ul>
                  <li>
                    <strong>Receiver Address</strong> {{ customerPaymentOption.accountId }}
                  </li>
                </ul>
              </div>
            </ons-col>
          </ons-row>
          <ons-row class="info-content info-content-sm">
            <ons-col class="col" align="top">
              <div class="col-content left">
                <ons-row>
                  <ons-col width="10%"><i class="fas fa-check"></i></ons-col>
                  <ons-col width="90%"><strong>Processing time:</strong> {{ customerPaymentOption.processingTimeWithdrawal }}</ons-col>
                </ons-row>
                <ons-row>
                  <ons-col width="10%"><i class="fas fa-check"></i></ons-col>
                  <ons-col width="90%"><strong>Fee:</strong> Free</ons-col>
                </ons-row>
              </div>
            </ons-col>
            <ons-col class="col" align="top">
              <div *ngIf="bitcoinExchangeRate" class="col-content left">
                <ons-row>
                  <ons-col width="10%"><i class="fas fa-check"></i></ons-col>
                  <ons-col width="90%"><strong>Min. withdrawal amount:</strong> {{ bitcoinExchangeRate.config.minimumAllowedWithdrawal }} BTC</ons-col>
                </ons-row>
                <ons-row>
                  <ons-col width="10%"><i class="fas fa-check"></i></ons-col>
                  <ons-col width="90%"><strong>Max. withdrawal amount:</strong> {{ bitcoinExchangeRate.config.maximumAllowedWithdrawal }} BTC</ons-col>
                </ons-row>
              </div>
            </ons-col>
          </ons-row>
        </div>
        <div class="expandable-content">
          <div class="gateway-content gradient-orange">
            <ons-row class="gateway-wrap">
              <ons-col width="70%" align="center" class="transaction-label">
                <p>Total EUR to be deducted:</p>
                <p>Fee:</p>
                <span class="hr-b"></span>
                <p>TOTAL BTC TO RECEIVE:</p>
              </ons-col>
              <ons-col width="30%" align="center" class="transaction-sum">
                <p>{{ form.totalAmount }} <span *ngIf="user$ | async as user"> {{ user.currency?.code }}</span></p>
                <p>{{ form.fee }} <span *ngIf="user$ | async as user"> {{ user.currency?.code }}</span></p>
                <span class="hr-b"></span>
                <p class="font-md">{{ form.totalBtcAmount }} <span *ngIf="user$ | async as user"> BTC</span></p>
              </ons-col>
            </ons-row>
          </div>
          <div class="gateway-form">
            <ons-row class="gateway-wrap">
              <ons-col width="100%" class="right m-b-20">
                <span *ngIf="bitcoinExchangeRate" id="exchange-rate" class="gradient-orange white ex-rate">Current rate: 1 BTC = {{ bitcoinExchangeRate.adjustedRate }}</span>
              </ons-col>
              <ng-container formArrayName="subtransactions" *ngFor="let subtransaction of form.transaction.get('subtransactions')['controls']; let j=index">
                <ng-container [formGroupName]="j">
                  <div class="product-amount-wrap">
                    <ons-col width="100%" align="center">
                      <select formControlName="product" #product (ngModelChange)="onProductChange(product.value, oldvalue, j);oldvalue=product.value">
                        <option value="" disabled selected>Please Select</option>
                        <ng-container *ngFor="let customerProduct of customerProducts">
                          <option [disabled]="isInChosenProducts(customerProduct)" [value]="customerProduct.id">
                            {{ customerProduct.displayName }}
                          </option>
                        </ng-container>
                      </select>
                      <ul *ngIf="form.transaction.get('subtransactions')['controls'][j].get('product').hasError('formError')" class="invalid-user-feedback red-l font-sm">
                        <li *ngFor="let error of form.transaction.get('subtransactions')['controls'][j].get('product').getError('formError')">
                          {{ error }}
                        </li>
                      </ul>
                    </ons-col>
                    <ons-col width="100%" align="center">
                      <label class="currency-label"><span *ngIf="user$ | async as user"> BTC</span></label>
                      <input decimal (ngModelChange)="onBtcAmountInputChanges($event)" formControlName="btcAmount" type="text" class="text-input input-eur" placeholder="Enter btc amount" value="">
                      <ul *ngIf="form.transaction.get('subtransactions')['controls'][j].get('btcAmount')" class="invalid-user-feedback red-l font-sm">
                        <li *ngFor="let error of form.transaction.get('subtransactions')['controls'][j].get('btcAmount').getError('formError')">
                          {{ error }}
                        </li>
                      </ul>
                    </ons-col>
                    <ons-col width="100%" align="center">
                        <label class="currency-label"><span *ngIf="user$ | async as user"> {{ user.currency?.code }}</span></label>
                        <input decimal (ngModelChange)="onAmountInputChanges($event)" formControlName="amount" type="text" class="text-input input-eur" placeholder="Enter amount" value="">
                        <ul *ngIf="form.transaction.get('subtransactions')['controls'][j].get('amount')" class="invalid-user-feedback red-l font-sm">
                          <li *ngFor="let error of form.transaction.get('subtransactions')['controls'][j].get('amount').getError('formError')">
                            {{ error }}
                          </li>
                        </ul>
                    </ons-col>
                    <ons-col align="top" *ngIf="form.canRemoveSubtransaction()" class="cancel-space">
                      <ons-button (click)="form.removeSubtransaction(j)" class="btn-red-outline w-100 center"><i class="fa fa-times"></i> </ons-button>
                    </ons-col>
                  </div>
                </ng-container>
              </ng-container>
              <ons-col width="100%" align="center" class="m-t-5">
                <div>
                  <input formControlName="accountId" type="text" class="text-input" placeholder="Enter receiver address">
                  <ul *ngIf="form.transaction.get('accountId').hasError('formError')" class="invalid-user-feedback red-l font-sm">
                    <li *ngFor="let error of form.transaction.get('accountId').getError('formError')">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </ons-col>
              <ons-col width="100%" align="center">
                <div>
                  <input formControlName="transactionPassword" type="password" class="text-input" placeholder="Enter transaction password" value="">
                  <ul *ngIf="form.transaction.get('transactionPassword').hasError('formError')" class="invalid-user-feedback red-l font-sm">
                    <li *ngFor="let error of form.transaction.get('transactionPassword').getError('formError')">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </ons-col>
              <ons-col width="48%" align="center">
                <ons-button (click)="form.addSubtransaction()" class="btn-custom button--quiet gray-d button m-r-10"><i class="fas fa-plus"></i> Add product</ons-button>
              </ons-col>
              <ons-col width="4%"></ons-col>
              <ons-col width="48%" align="center" class="right btn-request">
                <ons-button [ladda]="form.isSubmitting" (click)="onSubmit()" class="gradient-green left">Request</ons-button>
              </ons-col>
            </ons-row>
          </div>
        </div>
      </ons-list-item>
    </div>
  </div>

</form>