<div class="wrapper content-wrapper">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button>
        <ons-back-button></ons-back-button>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Forgot Password
    </div>
    <div class="right hidden">
      <ons-toolbar-button>
        <i class="far fa-bell"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-page class="content settings-wrap">
    <div class="settings-main-content">

      <div class="settings-main-content__wrap">
        <div class="list-title">Need help with your password?</div>
        <div class="list-item__subtitle">
            Enter the email you use for Asianconnect88, and we'll help you create a new password.
          <hr>
        </div>

        <ons-row class="p-lr-15">
          <ons-col width="100%" class="input-wrap">
            <i class="fas fa-envelope"></i>
            <input type="text" class="text-input" placeholder="Email"/>
          </ons-col>
        </ons-row>

        <ons-row class="p-lr-15">
          <ons-col>
            <div class="right filter-buttons">
              <ons-button (click)="successDialog.show()" class="btn-custom gradient-green button">Send Reset Password Link</ons-button>
            </div>
          </ons-col>
        </ons-row>

      </div>
    </div>
  </ons-page>
</div>

<!-- Success Dialog -->
<ons-alert-dialog class="custom-modal" cancelable #successDialog>
  <div class="alert-dialog-title green-bg center">
      <i class="fas fa-check"></i> &nbsp;Success
  </div>
  <div class="alert-dialog-content">
    <div class="center">
      <h1>Your reset password link has been successfully sent to your email</h1>
    </div>
    <div class="m-20-0 modal-close center">
      <a (click)="successDialog.hide()" class="btn-modal gradient-green button">OK</a>
    </div>
  </div>
</ons-alert-dialog>