/* Tab */
.segment--material__button {
  font-weight: 700;
}
:checked+.segment--material__button {
  background-color: #ffffff;
  color: #c1333c;
  border-radius: 0;
  border-width: 0;
}
/* End tabs */

/* Bottom Bar */
.bottom-bar ons-col {
  text-align: left;
  padding: 15px;
}
.bottom-bar {
  height: auto;
  box-shadow: 0px 1px 8px #b1b1b1c4;
  position: fixed;
}
.bottom-bar_sub-heading {
  font-size: 12px;
  margin-bottom: 2px;
  color: #8a8a8a;
  letter-spacing: 0.2px;
}
.bottom-bar_amount {
  color: #529F7C;
  font-weight: 800;
  font-size: 20px;
}
/* End bottom Bar */
