<div class="wrapper content-wrapper">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button>
        <ons-back-button></ons-back-button>
      </ons-toolbar-button>
    </div>
    <div class="center">
      My Products
    </div>
    <div class="right hidden">
      <i class="far fa-bell"></i>
    </div>
  </ons-toolbar>

  <ons-page class="content products-wrap">
    <div class="products-main-content">
      <!-- Add Product -->
      <div class="products-main-content__wrap">
        <div class="list-title">Add Products</div>
        <div class="list-item__subtitle">Please select at least one product below:</div>

        <div class="hr-custom"></div>
        
        <ons-row class="p-lr-15">
          <ons-col align="center" width="30%" class="product-bookie selected">
            <button for="maxbet"><img src="../assets/images/bookie-MXB.svg"></button>
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie selected">
            <button for="betisn"><img src="../assets/images/bookie-BI.svg"></button>
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie">
            <button for="sbobet"><img src="../assets/images/bookie-SBO.svg"></button>
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie">
            <button for="singbet"><img src="../assets/images/bookie-SIN.svg"></button>
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie">
            <button for="skypebetting"><img src="../assets/images/bookie-SKY.svg"></button>
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie selected">
            <button for="nwickets"><img src="../assets/images/bookie-WIC.svg"></button>     
          </ons-col>
          <ons-col align="center" width="30%" class="product-bookie">
            <button for="orbitx"><img src="../assets/images/bookie-ORB.svg"></button>
          </ons-col>
        </ons-row>

        <ons-row class="p-lr-15">
          <ons-col>
            <div class="right filter-buttons">
              <ons-button class="btn-custom gradient-green button">Add Products</ons-button>
            </div>
          </ons-col>
        </ons-row>
      </div>
        
    </div>
  </ons-page>
</div>