.card-wrapper {
  padding: 0 10px;
  width: 100%;
}

.col-profile a {
  color: #2C9DDE;
}

.transaction-wrapper {
  margin: 0 !important;
}
.transaction-wrapper ons-list-item {
  padding: 0;
  border-top: 4px solid #C1272D !important;
  border-radius: 5px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.18);
  background-image: none !important;
}
.transaction-wrapper .expandable-content {
  padding: 0;
}
/**********/
.checkbox-container {
  font-style: italic;
  font-size: 14px;
}
.checkbox-container input{
  height: auto !important;
  width: auto;
  border: none !important;
}
.transaction-wrapper {
  margin: 15px;
}

.gradient-pg-blue {
  background: linear-gradient(to right, #033564, #194C7C);
}
.gradient-pg-purple {
  background: linear-gradient(to right, #862165, #8C2F6E);
}
.bitcoin-logo {
  width: 34% !important;
}
.gateway-logo {
  width: 69% !important;
}
.btn-outline {
  padding: 6px 14px;
  font-size: 12px;
}
.btn-green {
  padding: 7px 14px;
}
.withdraw-input_btn {
  position: absolute;
  height: 37px;
  font-size: 12px;
  border-radius: 0 5px 5px 0;
  right: 15px;
}


@media only screen and (max-width: 320px) {
  .card-wrapper {
    padding: 5px 5px 5px 10px;
    width: 100%;
  }
  .gateway-wrap h1{
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #0000006e;
    line-height: 23px;
    font-size: 19px;
  }
  .gateway-wrap small{
    color: #eaeaea;
    font-size: 10px;
  }
  .info-content ul li {
    font-size: 10px;
  }
  .btc-rate {
    color: #000 !important;
    font-size: 15px !important;
  }
}
