.activation-title h1 {
  font-size: 18px;
}
.activation-title p {
  font-size: 12px;
  line-height: 15px;
}
input[type=password], input[type=text] {
  width: 100%;
  padding-left: 20px;
}
.ladda-button[data-loading] {
  width: 135px !important;
}