<div class="wrapper content-wrapper">
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button>
        <ons-back-button></ons-back-button>
      </ons-toolbar-button>
    </div>
    <div class="center">
      Settings
    </div>
    <div class="right hidden">
      <ons-toolbar-button>
        <i class="far fa-bell"></i>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-page class="content settings-wrap">
    <div class="settings-main-content">
      <!-- Profile -->
      <div class="settings-main-content__wrap">
        <div class="list-title">Update Transaction Password</div>
        <div class="list-item__subtitle">
          Transaction password must contain alpha numeric, min 6 chars and should have at least 1 capital letter.
          <hr>
        </div>

        <ng-container *ngIf="form.security.hasError('formError')">
          <span *ngFor="let error of form.security.getError('formError')">
            {{ error }}
          </span>
        </ng-container>

        <form [formGroup]="form.security" (ngSubmit)="onSubmit()" id="transaction-password-form" novalidate>
          <ons-row class="p-lr-15">
            <ons-col width="100%" class="input-wrap">

              <i class="fas fa-lock"></i>
              <input formControlName="currentTransactionPassword" type="password" class="text-input" placeholder="Current transaction password"/>
            </ons-col>
            <div *ngIf="form.security.get('currentTransactionPassword').hasError('formError')" class="red-l font-sm">
                <span *ngFor="let error of form.security.get('currentTransactionPassword').getError('formError')">
                  {{ error }}
                </span>
            </div>
          </ons-row>

          <ons-row class="p-lr-15">
            <ons-col width="100%" class="input-wrap">
              <i class="fas fa-lock"></i>
              <input formControlName="newTransactionPassword" type="password" class="text-input" placeholder="New transaction password"/>
            </ons-col>
            <div *ngIf="form.security.get('newTransactionPassword').hasError('formError')" class="red-l font-sm">
                <span *ngFor="let error of form.security.get('newTransactionPassword').getError('formError')">
                  {{ error }}
                </span>
            </div>

            <ons-col width="100%"class="input-wrap m-t-10">
              <i class="fas fa-lock"></i>
              <input formControlName="confirmTransactionPassword" type="password" class="text-input" placeholder="Confirm transaction password"/>
            </ons-col>
            <div *ngIf="form.security.get('confirmTransactionPassword').hasError('formError')" class="red-l font-sm">
                <span *ngFor="let error of form.security.get('confirmTransactionPassword').getError('formError')">
                  {{ error }}
                </span>
            </div>
          </ons-row>

          <ons-row class="p-lr-15">
            <ons-col>
              <div class="right filter-buttons">
                <button type="submit" class="button btn-apply-filter gradient-green left" [ladda]="form.isSubmitting">Update</button>
              </div>
            </ons-col>
          </ons-row>
        </form>
      </div>
    </div>
  </ons-page>
</div>
